db
.idea

# Installation folder
src/bedrock/web/wp

# Languages Folder
src/bedrock/web/app/languages/*
!src/bedrock/web/app/languages/.gitkeep

# Package Installation
src/bedrock/vendor
src/bedrock/node_modules

# Installed Package
src/bedrock/web/app/plugins/advanced-custom-fields

# environment files
docker-compose.override.yml
src/bedrock/.env