@import "reset";
@import "variable";

html {
  font-size: $html-font-size;
  font-family: $main-font-family;
  line-height: 1.5;
  color: $color-dark;
  scroll-behavior: smooth;
}

body, body * {
  box-sizing: border-box;
}

body::-webkit-scrollbar, body *::-webkit-scrollbar {
  width: .5em;
  border: none;
}

body::-webkit-scrollbar-track, body *::-webkit-scrollbar-track {
  background-color: #272727;
}

body::-webkit-scrollbar-thumb,
body *::-webkit-scrollbar-thumb {
  background-color: #1B8284;
  border-radius: $border-full;
}

.container {
  width: 100%;
  max-width: $screen-max-width;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.sro {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@import "parts/fonts";
@import "parts/link";
@import "parts/header";
@import "parts/home-page";
@import "parts/grid";
@import "parts/hero";
@import "parts/footer";
@import "parts/project";
@import "parts/single_project";
@import "parts/contact";
@import "parts/about";
@import "parts/nav";
@import "parts/angle";
@import "parts/philosophy";
@import "parts/tags";
@import "parts/slider";
@import "parts/burger";
@import "parts/arrows";
@import "parts/wysiwyg";
@import "parts/helpers";