@import "font";
@import "reset";


html {
  font-size: 16px;
  font-family: "Reem Kufi", sans-serif;
  color: #808080;
  scroll-behavior: smooth;
}

body, body * {
  box-sizing: border-box;
}

p {
  font-size: 1rem;
  line-height: 25px;
}

.sro {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@import "parts/header";
@import "parts/home-page";
@import "parts/footer";
@import "parts/contact";