.footer {
  padding: 0 2rem;
  color: $color-light;
  background-color: $color-grey-500;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    border-top: 1px solid rgba($color-grey-100, 0.3);
    padding: 3.75rem 1.5rem;
  }

  .main-nav {
    ul {
      align-items: center;
    }
  }
}

@media screen and (min-width: $screen-sm) {
  .footer {
    .container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@media screen and (min-width: $screen-lg) {
  .footer {
    padding: 0 6rem;
  }
}
