.main {

  &__about {

    .about {

      &__special_title {
        font-size: 5rem;
        line-height: normal;
        grid-column: 1 / 5;
        grid-row: 1;
        color: black;
        margin-top: 12.75rem;
        margin-bottom: 3rem;
      }

      &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 3rem;
        grid-column: 1/5;


        .wrap {

          &__img_container {
            position: relative;
            width: calc(50% - .5rem);
            margin: 0;
          }

          &__img_container img {
            display: block;
            width: 100%;
          }
        }
      }

      &__wrap:nth-child(even) {
        flex-direction: column-reverse;
      }

      &__wrap:not(:last-of-type) {
        margin-bottom: 10rem;
      }

      &__wrap_1 {
        grid-row: 2;
      }

      &__wrap_2 {
        grid-row: 3;
      }

      &__wrap_3 {
        grid-row: 4;
        margin-bottom: 10rem;
      }

      &__span {
        display: block;
        position: absolute;
        width: 6rem;
        height: 4rem;
        transition: .3s ease;
      }

      &__span_1 {
        top: -2px;
        left: -2px;
        border-top: 2px solid #1B8284;
        border-left: 2px solid #1B8284;
      }

      &__img_container:hover .about__span_1, &__img_hover .about__span_1 {
        top: -1rem;
        left: -1rem;
      }

      &__span_2 {
        top: -2px;
        right: -2px;
        border-top: 2px solid #1B8284;
        border-right: 2px solid #1B8284;
      }

      &__img_container:hover .about__span_2, &__img_hover .about__span_2 {
        top: -1rem;
        right: -1rem;
      }

      &__span_3 {
        bottom: -2px;
        left: -2px;
        border-bottom: 2px solid #1B8284;
        border-left: 2px solid #1B8284;
      }

      &__img_container:hover .about__span_3, &__img_hover .about__span_3 {
        bottom: -1rem;
        left: -1rem;
      }

      &__span_4 {
        bottom: -2px;
        right: -2px;
        border-bottom: 2px solid #1B8284;
        border-right: 2px solid #1B8284;
      }

      &__img_container:hover .about__span_4, &__img_hover .about__span_4 {
        bottom: -1rem;
        right: -1rem;
      }
    }
  }

  &__special_about {


    & .about__grid {
      grid-row: 1 / 5;
    }
  }

  &__projects {

    .projects {

      &__project {

        .project {

          &__container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
          }

          &__info_container {
            position: relative;
            flex: 1;
            z-index: 5;
          }

          &__number {
            display: inline-block;
            font-family: "Abril Fatface", cursive;
            font-size: 11.302rem;
            line-height: 10rem;
          }

          &__title {
            display: block;
            font-size: 1.999rem;
            margin-bottom: 1rem;
          }

          &__title a {
            color: white;
            text-decoration: none;
            transition: color .3s linear;
          }

          &__description {
            margin-bottom: 2rem;
          }

          &__link_container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 1.5rem;
          }


          &__link {
            position: relative;
            flex: 1;
            font-size: 1rem;
            color: white;
            overflow: hidden;
            text-decoration: none;
            padding: 1rem 0;
            text-align: center;
            border: 1px solid white;
            border-radius: 10px;
            box-shadow: none;
            text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
            transition: box-shadow 0.1s 0.4s linear;

            & span {
              transition: width 0.5s ease-in;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              width: 0%;
              box-shadow: none;
              background: #1B8284;
              z-index: -3;
              border-radius: 10px;
            }

            &:hover, &:focus {
              box-shadow: 0 0 10px #1B8284;
            }

            &:hover span, &:focus span {
              width: 100%;
            }

          }


          &__img_container {
            position: relative;
            flex: 1;
          }

          &__img_container img {
            width: 100%;
          }

          &__img_link {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            text-indent: -9999px;
          }

        }

        &:hover .project__span_1, &_hover .project__span_1 {
          top: 2rem;
          left: 2rem;
        }

        &:hover .project__span_2, &_hover .project__span_2 {
          top: 2rem;
          right: 2rem;
        }

        &:hover .project__span_3, &_hover .project__span_3 {
          bottom: 2rem;
          left: 2rem;
        }

        &:hover .project__span_4, &_hover .project__span_4 {
          bottom: 2rem;
          right: 2rem;
        }
      }
    }
  }


  @media screen and (min-width: 1024px) {

    .about {

      &__wrap {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        column-gap: 1.25rem;
        row-gap: 0;
      }

      &__special_title {
        font-size: 7.993rem;
      }

      &__wrap .wrap__img_container {
        width: 100%;
      }

      &__wrap_1 {
        grid-column: 3 / 10;
      }

      &__wrap_1 .wrap__text {
        grid-column: 1 / 4;
        grid-row: 1;
      }

      &__wrap_1 .wrap__img_container {
        grid-column: 6 / 8;
        grid-row: 1;
      }

      &__wrap_2 {
        grid-column: 2 / 9;
      }

      &__wrap_2 .wrap__text {
        grid-column: 4 / 8;
        grid-row: 1;
      }

      &__wrap_2 .wrap__img_container {
        grid-column: 1 / 3;
        grid-row: 1;
      }

      &__wrap_3 {
        grid-column: 3 / 10;
      }

      &__wrap_3 .wrap__text {
        grid-column: 1 / 5;
        grid-row: 1;
      }

      &__wrap_3 .wrap__img_container {
        grid-column: 6 / 8;
        grid-row: 1;
      }

      &__wrap:nth-child(even) {
        flex-direction: row-reverse;
      }


      &__img_container img {
        width: 100%;
      }

      &__img_container:hover .about__span_1, &__img_hover .about__span_1 {
        top: -1.25rem;
        left: -1.25rem;
      }


      &__img_container:hover .about__span_2, &__img_hover .about__span_2 {
        top: -1.25rem;
        right: -1.25rem;
      }


      &__img_container:hover .about__span_3, &__img_hover .about__span_3 {
        bottom: -1.25rem;
        left: -1.25rem;
      }

      &__img_container:hover .about__span_4, &__img_hover .about__span_4 {
        bottom: -1.25rem;
        right: -1.25rem;
      }
    }

    &__special_about {


      & .about__grid {
        grid-row: 1 / 5;
      }
    }

    &__projects {

      .projects {

        &__project {
          padding: 10rem 6rem;

          &:nth-child(even) .project__info_container {
            margin-right: -7.625rem;
            margin-bottom: 0;
          }

          &:nth-child(odd) .project__info_container {
            order: 3;
            margin-left: -7.625rem;
            margin-top: 0;
          }

          .project {

            &__container {
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              padding: 0;
            }

            &__span_1 {
              top: 2rem;
              left: 3rem;
            }

            &__span_2 {
              top: 2rem;
              right: 3rem;
            }

            &__span_3 {
              bottom: 2rem;
              left: 3rem;
            }

            &__span_4 {
              bottom: 2rem;
              right: 3rem;
            }

            &__info_container {
              flex: 4;
            }

            &__img_container {
              flex: 6;
            }

          }

          &:hover .project__span_1, &_hover .project__span_1 {
            top: 4rem;
            left: 5rem;
          }

          &:hover .project__span_2, &_hover .project__span_2 {
            top: 4rem;
            right: 5rem;
          }

          &:hover .project__span_3, &_hover .project__span_3 {
            bottom: 4rem;
            left: 5rem;
          }

          &:hover .project__span_4, &_hover .project__span_4 {
            bottom: 4rem;
            right: 5rem;
          }
        }
      }
    }
  }

  @media screen and (min-width: 1580px) {
    &__about {

      .about {

        &__wrap {
          column-gap: 1.5rem;
        }

        &__special_title {
          grid-column: 2 / 6;
        }

        &__wrap_1 {
          grid-column: 4 / 11;
        }

        &__wrap_2 {
          grid-column: 3 / 10;
        }


        &__wrap_3 {
          grid-column: 3 / 10;
        }


        &__img_container:hover .about__span_1, &__img_hover .about__span_1 {
          top: -1.5rem;
          left: -1.5rem;
        }


        &__img_container:hover .about__span_2, &__img_hover .about__span_2 {
          top: -1.5rem;
          right: -1.5rem;
        }


        &__img_container:hover .about__span_3, &__img_hover .about__span_3 {
          bottom: -1.5rem;
          left: -1.5rem;
        }

        &__img_container:hover .about__span_4, &__img_hover .about__span_4 {
          bottom: -1.5rem;
          right: -1.5rem;
        }

      }
    }
    &__projects {

      .projects {

        &__project {

          &:nth-child(even) .project__info_container {
            margin-right: -7.625rem;
          }

          &:nth-child(odd) .project__info_container {
            order: 3;
            margin-left: -7.625rem;
          }


          .project {

            &__container {
              padding: 0 9.75rem;
            }

            &__span_1 {
              top: 3.75rem;
              left: 6rem;
            }

            &__span_2 {
              top: 3.75rem;
              right: 6rem;
            }

            &__span_3 {
              bottom: 3.75rem;
              left: 6rem;
            }

            &__span_4 {
              bottom: 3.75rem;
              right: 6rem;
            }

            &__info_container {
              flex: 5;
            }

            &__img_container {
              flex: 7;
            }

          }

          &:hover .project__span_1, &_hover .project__span_1 {
            top: 6.75rem;
            left: 9rem;
          }

          &:hover .project__span_2, &_hover .project__span_2 {
            top: 6.75rem;
            right: 9rem;
          }

          &:hover .project__span_3, &_hover .project__span_3 {
            bottom: 6.75rem;
            left: 9rem;
          }

          &:hover .project__span_4, &_hover .project__span_4 {
            bottom: 6.75rem;
            right: 9rem;
          }
        }
      }
    }
  }
}

