.main-nav {
  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    column-gap: 3rem;
    row-gap: 1.5rem;
  }

  a {
    font-size: $font-size-p;
    text-decoration: none;
    color: $color-light;

    &.nav__active {
      color: $color-light;
      border-bottom: 1px solid $color-light;
    }

    &:not(.nav__active):not(.social) {
      &:hover, &:focus {
        color: $color-light;
        border-bottom: 1px solid $color-light-transparent-600;
      }
    }
  }

  .social {
    display: none;

    svg {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

@media screen and (min-width: $screen-sm) {
  .main-nav {
    ul {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }

    .social {
      display: block;
    }
  }
}
