.projects-list {
  .project {
    position: relative;
    color: $color-light;
    padding: 5rem 2rem;

    &:nth-child(even) {
      background-color: $color-grey-500;

      .project__img_container {
        order: 2;
      }
    }

    .title {
      margin-bottom: .3em;
    }

    .text {
      font-size: $font-size--1;
      color: $color-light-transparent-700;
      line-height: 1.5;
    }

    &:nth-child(odd) {
      background-color: rgba($color-grey-500, 0.8);
    }

    .container {
      display: flex;
      flex-direction: column;
      gap: 3rem 1.5rem;
    }

    img {
      aspect-ratio: 10 / 6;
      object-fit: cover;
    }
  }

  &, &--slider {

    .project {
      &__img_container {
        position: relative;

        &:before {
          content: "";
          display: block;
          position: absolute;
          inset: 0;
          z-index: 10;
          background-color: $color-dark-transparent-300;
        }

        img {
          &.logo {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50%;
            height: 35%;
            transform: translate(-50%, -50%);
            aspect-ratio: auto;
            object-fit: contain;
            z-index: 20;
          }
        }
      }
    }
  }

  &--slider {
    background-color: $color-primary-transparent-300;
    padding: 6rem 2rem;

    .title {
      color: $color-primary-500;
      margin-bottom: 1.5em;
    }

    .container {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    .project {
      overflow: hidden;

      &:hover {
        .img {
          transform: scale(1.2);
          z-index: 1;
        }
      }

      &__img_container {
        a {
          display: block;
        }

        img {
          aspect-ratio: 10 / 6;
          object-fit: cover;
          transition: transform .3s;
        }
      }
    }
  }
}

@media screen and (min-width: $screen-lg) {
  .projects-list {
    .project {
      padding: 5rem 6rem;

      .container {
        gap: 2rem;
        flex-direction: row;
        align-items: center;
      }

      img {
        aspect-ratio: 10 / 5;
      }

      &__text_container {
        flex: 2;
      }

      &__img_container {
        flex: 3;
      }
    }

    &--slider {
      padding: 6rem;

      .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
      }
    }
  }
}

@media screen and (min-width: $screen-xl) {
  .projects-list {
    .project {
      .container {
        gap: 5rem;
      }

      &__text_container {
        flex: 4;
      }

      &__img_container {
        flex: 5;
      }
    }
  }
}
