.single_project {
  &__landing_page {
    width: 100%;
  }

  &__background_img {
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: auto 120%;
    background-position: center;
    padding: 7rem 2rem 6rem;
    margin-bottom: 8rem;
  }

  &__number {
    font-family: "Abril Fatface", cursive;
    font-size: 11.302rem;
    line-height: normal;
    margin-bottom: -2rem;
    color: rgba(27, 130, 132, 0.5);
  }

  &__title {
    color: white;
    margin-bottom: 2rem;
  }

  &__link {
    display: inline-block;
    width: 16.75rem;
    position: relative;
    text-align: center;
    padding: 1.25rem 0;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid white;
    box-shadow: none;
    z-index: 10;
    background-color: rgba(27, 27, 27, 0.25);
    transition: box-shadow 0.1s 0.4s linear;
  }

  &__link span {
    position: absolute;
    z-index: -3;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0%;
    transition: width .5s ease-in;
    background-color: rgb(27, 130, 132);
  }

  &__link:hover, &__link:focus {
    box-shadow: 0 0 10px #1B8284;
  }

  &__link:hover span, &__link:focus span {
    width: 100%;
  }

  &__site_link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4rem;
  }

  &__support {
    width: 100%;
    padding: 0 10%;
    margin-bottom: -15rem;
  }

  &__support img {
    width: 100%;
  }

  &__support_img_container {
    margin-bottom: 5rem;
  }

  &__support__text {
    max-width: 35rem;
    width: 100%;
    margin: 0 auto;
    color: white;
  }

  &__moodboard {
    background-color: rgb(27, 27, 27);
    padding: 23.875rem 2rem 7rem;
  }

  .moodboard {

    &__title {
      display: inline-block;
      text-transform: uppercase;
      color: white;
      margin-bottom: 2rem;
    }

    &__title span {
      display: block;
      position: relative;
      left: -1rem;
      height: 1px;
      width: 100%;
      background-color: #B3FEFF;
    }

    &__img_container {
      width: 100%;
      margin-bottom: 1rem;
    }

    &__img_container img {
      width: 100%;
    }

    &__text {
      padding: 1rem;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  &__design {
    background-color: rgb(27, 27, 27);
    padding: 7rem 2rem;
  }

  .design {

    &__title {
      display: inline-block;
      text-transform: uppercase;
      color: white;
      margin-bottom: 2rem;
    }

    &__title span {
      display: block;
      position: relative;
      left: -1rem;
      height: 1px;
      width: 100%;
      background-color: #B3FEFF;
    }

    &__computer_design, &__phone_design {
      width: 100%;
    }

    &__computer_design img, &__phone_design img {
      width: 100%;
    }

  }


  @media screen and (min-width: 1100px) {
    &__background_img {
      background-size: 110% auto;
      padding: 7rem 6rem 6rem;
    }

    &__support {
      padding: 0 20%;
    }

    &__moodboard {
      padding: 23.875rem 6rem 6rem;
    }

    .moodboard {


      &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      &__img_container {
        flex: 7;
        margin-right: -8rem;
      }

      &__text {
        flex: 4;
      }
    }

    .design {


      &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1.5rem;
      }

      &__computer_design {
        flex: 6;
      }

      &__phone_design {
        flex: 4;
      }
    }

    &__design {
      padding: 7rem 6rem;
    }
  }

  @media screen and (min-width: 1580px) {

    &__moodboard {
      padding: 23.875rem 15.125rem 6rem;
    }

    &__design {
      padding: 7rem 15.125rem;
    }
  }
}

.projects-list {
  .project {
    position: relative;
    color: $color-light;
    padding: 5rem 2rem;

    &:nth-child(even) {
      background-color: $color-grey-500;

      .project__img_container {
        order: 2;
      }
    }

    .title {
      margin-bottom: .1em;
    }

    .text {
      font-size: $font-size--1;
      color: $color-light-transparent-700;
    }

    &:nth-child(odd) {
      background-color: rgba($color-grey-500, 0.8);
    }

    .container {
      display: flex;
      flex-direction: column;
      gap: 3rem 1.5rem;
    }

    img {
      aspect-ratio: 10 / 6;
      object-fit: cover;
    }
  }

  &--slider {
    background-color: $color-primary-transparent-300;
    padding: 6rem 2rem;

    .title {
      color: $color-primary-500;
    }
  }
}

@media screen and (min-width: $screen-lg) {
  .projects-list {
    .project {
      padding: 5rem 6rem;

      .container {
        gap: 2rem;
        flex-direction: row;
        align-items: center;
      }

      img {
        aspect-ratio: 10 / 5;
      }

      &__text_container {
        flex: 2;
      }

      &__img_container {
        flex: 3;
      }
    }
  }
}

@media screen and (min-width: $screen-xl) {
  .projects-list {
    .project {
      .container {
        gap: 3rem;
      }

      &__text_container {
        flex: 4;
      }

      &__img_container {
        flex: 5;
      }
    }
  }
}

.some_projects {
  background-color: #272727;
  padding: 6rem 2rem;

  &__title {
    display: block;
    width: 100%;
    font-size: 1.999rem;
    color: white;
    margin-bottom: 2rem;
  }

  .project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }

    &:nth-child(odd) .project__number {
      color: rgba(179, 254, 255, 0.5);
    }

    &:nth-child(even) .project__number {
      color: rgba(27, 130, 132, 0.5);
    }

    &:nth-child(even) .project__title a:hover, &:nth-child(even) .project__title a:focus {
      color: #1B8284;
    }

    &:nth-child(odd) .project__title a:hover, &:nth-child(odd) .project__title a:focus {
      color: #B3FEFF;
    }

    &__info_container {
      position: relative;
      z-index: 10;
      flex: 1;
    }

    &__number {
      font-family: 'Abril Fatface', cursive;
      font-size: 7.993rem;
      line-height: normal;
      margin-bottom: -2rem;
    }

    &__title {
      font-size: 1.999rem;
      color: white;
      margin-bottom: 1rem;
    }

    &__title a {
      text-decoration: none;
      color: white;
      transition: color .3s ease;
    }


    &__img_container {
      position: relative;
      width: 100%;
    }

    &__img_container a {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &__img_container img {
      width: 100%;
      display: block;
    }
  }


  @media screen and (min-width: 1024px) {
    & {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: stretch;
      gap: 1.5rem;
      padding: 6rem;

      & .project:not(:last-of-type) {
        margin: 0;
      }


      .project {
        flex: 1;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0;


        &__info_container {
          position: absolute;
          flex: 1;
        }

        &__img_container {
          width: 90%;
          margin-left: 10%;
        }

      }
    }
  }

  @media screen and (min-width: 1580px) {
    .project {

      &__info_container {
        position: relative;
        flex: 1;
        margin-right: -5rem;
      }

      &__img_container {
        flex: 3;
        width: 100%;
        margin-left: 0;
      }
    }
  }
}