.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 3.75rem 2rem;
  background-color: rgba(39, 39, 39, 0.8);
  color: white;

  &__nav {



    .nav {

      &__container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }

      &__item:not(:last-of-type) {
        margin-right: 1rem;
      }

      &__text {
        text-decoration: none;
        transition: .3s ease;
        color: white;
      }

      &__text:hover, &__text:focus {
        color: #1B8284;
      }
    }
  }

  a {
    text-decoration: none;
    transition: .3s ease;
    color: white;
  }
  a:hover, a:focus {
    color: #1B8284;
  }

  @media screen and (min-width: 620px) {
    & {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }


  @media screen and (min-width: 1024px) {
    & {
      padding: 3.75rem 6rem;
    }
  }
}
