.torch {
  display: block;
  z-index: 10000;
  position: fixed;
  width: auto;
  padding: 0;
  margin: 0;
  clip: auto;
  white-space: normal;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  height: 100vh;
  background: transparent;

  &__option {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    height: 9.5rem;
    padding: 2rem;
    z-index: 10010;
    color: white;

    & p {
      display: inline-block;
      padding: 1rem 3rem;
      border-radius: 10px;
      color: white;
      cursor: pointer;
      background-color: rgba(31,31,31,0.5);
    }
  }

  &__header {
    position: fixed;
    transform: translateY(-100%);
    z-index: 10005;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 9.5rem;
    padding: 8rem 2rem 2rem;
    background: linear-gradient(to right, rgba(31,31,31,1) 0%, rgba(31,31,31,0.8) 50%, rgba(31,31,31,1) 100%);
    transition: .3s ease;

    & label {
      display: block;
      margin-bottom: .5rem;
    }
  }

  &__is_header {
    transform: rotateY(0);
  }

  &__text {
    font-size: 20px;
    color: #000;
    text-align: right;
  }
  &__light {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, #000 12.5%);
    transition: top 0.2s linear, left 0.2s linear, background-size 1s linear;
    background-position: center;
    background-size: 100%;
  }
  @media screen and (min-width: 768px) {
    &__header {
      padding: 2rem;
    }
  }

  @media screen and (min-width: 1024px) {
    &__header {
      padding: 2rem 6rem;
    }
  }
}

.abs_no_torch {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.no_torch {
  animation-name: display;
  animation-duration: .2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;

  & .torch__light {
    background-size: 10000%;
  }
}


@keyframes display {
  0% {

  }
  100% {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}
